// Default params

$desktop-mode: $large-screen
$spacing: 5px
$row-height: 200px

// Widget mixins

@mixin widget($border-color, $cols, $rows: 1, $border-size: 4px)
  $widget-height: ($row-height * $rows) + (($rows - 1) * $spacing)
  $head-height: 40px
  $v-padding: 10px
  $h-padding: 20px

  padding: 0
  background: white
  +media($desktop-mode)
    height: $widget-height
  h2
    font-size: 1.2em
    height: $head-height
    padding: 0 0 5px 0
    padding: $v-padding $h-padding
    border-bottom: 1px solid $ithaka-bg
    display: block
    width: 100%
    span
      margin-right: 5px
  .body, .content
    padding: $v-padding $h-padding
    +media($desktop-mode)
      overflow-y: auto
      height: $widget-height - $head-height - ($border-size * 2)

  border-bottom: $border-size solid darken($ithaka-bg, 5%)
  border-top: $border-size solid $border-color
  margin-bottom: $spacing
  &:hover
    border-top: $border-size solid darken($border-color, 10%)
    background: darken(white, 1%)
  +span-columns(12)
  +media($desktop-mode)
    +span-columns($cols)
  &::after
    +clearfix

@mixin last-widget
  +media($desktop-mode)
    +omega()

// Rules

.fluid-container
  +outer-container(100%)

.widgets
  margin: 0 $spacing
  +clearfix

.heading
  +widget(white, 12, 1, 0px)

.dashboard
  .projects
    +widget($ithaka-success, 4, 2)

  .activity
    +widget($ithaka-primary, 4)

  .calendar
    +widget($ithaka-danger, 4)
    +last-widget

  .ideas
    +widget($ithaka-primary, 4)

  .news
    +widget($ithaka-primary, 4)
    +last-widget

  .trending
    +widget($ithaka-primary, 4)

  .notifications
    +widget($ithaka-primary, 8)
    +last-widget
