$desktop-mode: $large-screen

header.navigation
  $navigation-padding: 1em
  $navigation-background: $ithaka-bg
  $navigation-color: transparentize($dark-gray, 0.3)
  $navigation-color-hover: $ithaka-primary
  $navigation-height: 50px
  $navigation-active-link-color: $ithaka-primary
  $navigation-submenu-padding: 1em

  background-color: $navigation-background
  border-bottom: 4px solid darken($navigation-background, 4%)
  font-family: $sans-serif
  height: $navigation-height
  width: 100%
  z-index: 999

  .menu-wrapper
    padding: 0 10px
    +clearfix
    position: relative
    z-index: 9999

  .navigation-menu-button
    span
      background: $navigation-color-hover
      color: white
      padding: 5px 5px 5px 7px
      margin: 0
      border-radius: 3px
      &:hover
        background: darken($navigation-color-hover, 10%)

    cursor: pointer
    display: block
    float: left
    font-family: $sans-serif
    font-weight: 700
    line-height: $navigation-height
    margin: 0
    padding-right: 1em
    text-transform: uppercase

  .nav
    z-index: 9999999
    float: left

  ul#navigation-menu
    -webkit-transform-style: preserve-3d
    // stop webkit flicker
    display: inline
    overflow: visible
    margin: 0
    padding: 0
    width: 100%
    z-index: 9999

  ul#navigation-menu > li
    display: inline
    line-height: $navigation-height
    overflow: hidden
    padding-right: 2em
    text-align: right
    text-decoration: none
    position: relative
    width: auto
    z-index: 9999
    cursor: pointer
    > a
      font-weight: 400
      color: $navigation-color
      &:hover
        color: $navigation-color-hover
      span
        margin: 0 5px
        font-size: 1.25em
        &.badge
          top: 0
          margin: 5px 0 0 -15px
          font-size: .5em

    .nav-dropdown
      display: none

    &.active .nav-dropdown
      min-width: 200px
      background: white
      right: 0
      position: absolute
      z-index: 1001
      display: block
      box-shadow: 1px 1px 5px 0px rgba(140, 140, 140, 0.75)
      border-radius: 5px
      li, li a
        display: block
      a
        text-align: left
        width: 100%
        padding: 0 20px
        color: $navigation-color
        &:hover
          background: $navigation-background
      li input
        margin: 4px  0


  .active-nav-item a
    padding-bottom: 3px
    border-bottom: 1px solid $navigation-active-link-color

  .navigation-tools
    +clearfix
    display: block
    padding-left: $navigation-padding
    background: transparent
    float: right
    clear: none

main.sidebar-open .navigation-tools
  display: none
  @include media($desktop-mode)
    display: block
