$background-color: $ithaka-sidebar
$open-width: 220px
$compact-width: 45px
$desktop-mode: $large-screen
$sidebar-color: white
$sidebar-fade-color: transparentize($sidebar-color, 0.3)
$sidebar-avabat-size: $compact-width
$sidebar-nav-line-height: 50px
$animation-time: 1s
$animation-type: ease-in-out
$compact-offset: $open-width - $compact-width
$border-colors: $ithaka-primary, $ithaka-brand, $ithaka-success, $ithaka-danger, $ithaka-info

@mixin sidebar-animate($property)
  +transition-property($property)
  +transition-duration($animation-time)
  +transition-timing-function($animation-type)

main
  margin-left: 0
  overflow: hidden
  +sidebar-animate(all)
  +media($desktop-mode)
    margin-left: $compact-width

main.sidebar-open
  margin-left: $open-width

.sidebar
  background-color: $background-color
  +position(absolute, 0px null 0px (-$open-width))
  height: 100%
  overflow-y: scroll
  color: $sidebar-color
  width: $open-width
  +sidebar-animate(left)
  +media($desktop-mode)
    left: ($compact-width - $open-width)

  .brand
    display: block
    font-family: $sans-serif
    line-height: $sidebar-nav-line-height
    text-align: right
    +clearfix
    .title
      display: none
    .icon-logo
      background: $ithaka-brand
      color: white
      line-height: $sidebar-nav-line-height
      height: $sidebar-nav-line-height
      width: $compact-width
      float: right
      text-align: center
      font-size: 24px
      display: block
      +box-sizing(border-box)
      border-bottom: 4px solid darken($ithaka-brand, 5%)

  .hide-when-compact
    +sidebar-animate(all)
    visibility: hidden
    opacity: 0

  .sidebar-nav
    overflow: hidden
    ul li
      display: block
      width: 100%
      overflow: hidden
      +box-sizing(border-box)
      &:hover
        background: darken($background-color, 10)
        cursor: pointer
      a
        width: 100%
        display: block
        height: $sidebar-nav-line-height
        line-height: $sidebar-nav-line-height
        color: $sidebar-color
        float: left

      .icon
        line-height: $sidebar-nav-line-height
        color: lighten($background-color, 70%)
        font-size: 19px
        padding: 0 10px
        float: right
      .badge
        margin: 0 10px
        font-size: 15px
        line-height: 12px


      ul.dropdown
        float: left
        width: 100%
        display: none
        +sidebar-animate(all)

      @for $i from 1 through length($border-colors)
        &:nth-child(#{length($border-colors)}n+#{$i})
          border-right: 5px solid nth($border-colors, $i)

  .user-profile
    +clearfix
    padding: 20px 10px
    text-align: center
    border-top: 4px solid darken($background-color, 5%)

    .avatar
      width: 60px
      height: 60px
      margin: 0 auto
      img
        border: 2px white solid
        border-radius: 30px

    .details
      padding: 10px
      .name
        font-weight: bold
      .role
        color: $sidebar-fade-color
        font-size: 90%
      .company
        color: $sidebar-fade-color
        font-size: 80%

  .scorecard
    +clearfix
    margin: 0 5px
    div
      padding: 10px 0
      text-align: center
      +box-sizing(border-box)
      border: 1px solid $ithaka-sidebar
      font-weight: bold
      font-size: 16px
      small
        display: block
        font-size: 40%
    .available
      font-size: 36px
      width: 100%
      background: $ithaka-success
    .locked, .unlocked
      width: 50%
      float: left
    .locked
      background: $ithaka-danger
    .unlocked
      background: $ithaka-primary

  // When the draw opens
  &.active, &:hover
    left: 0
    .hide-when-compact
      visibility: visible
      opacity: 1
      +sidebar-animate(all)
    .brand
      background: darken($background-color, 3%)
      text-align: center
      font-size: 20px
      +box-sizing(border-box)
      border-bottom: 4px solid darken($background-color, 5%)
      height: 50px
      .icon-logo
        background: $background-color
        border: 1px solid lighten($background-color, 5%)
        color: lighten($background-color, 5%)
        display: inline
        float: none
        margin: 0 5px
        padding: 4px 9px
        border-radius: 4px
        line-height: 100%
        font-size: inherit
      .title
        display: inline
        color: lighten($background-color, 5%)

    .sidebar-nav ul li .icon
      float: left

    .dropdown-link > a::after
      float: right
      margin-right: 10px
      font-weight: bold
      font-family: 'icomoon', $font-family-sans-serif
      content: "\f104"

    .dropdown-link.active > a::after
      content: "\f107"

    .sidebar-nav ul li.active > ul.dropdown
      display: block
      +sidebar-animate(all)
      li
        border: none
        width: 100%
        background: darken($background-color, 5%)
        &:hover
          background: lighten($background-color, 5%)

