div.sidebar
  $background-color: $ithaka-sidebar
  $open-width: 220px
  $compact-width: 45px
  $desktop-mode: $large-screen
  $sidebar-color: white
  $sidebar-fade-color: transparentize($sidebar-color, 0.3)
  $sidebar-avabat-size: $compact-width
  $sidebar-nav-line-height: 50px
  $animation-time: 1s
  $animation-type: ease

  @mixin sidebar-animate($property)
    @include transition($property, $animation-time, $animation-type)

  background-color: $background-color
  top: 50px
  right: 0
  left: -$open-width
  bottom: 0
  height: 100%
  position: fixed
  color: $sidebar-color
  width: $open-width
  @include sidebar-animate(width)
  @include media($desktop-mode)
    left: ($compact-width - $open-width)

  .hide-when-compact
    @include sidebar-animate(all)
    visibility: hidden
    opacity: 0

  .sidebar-nav
    ul li
      display: block
      width: 100%
      height: $sidebar-nav-line-height
      +clearfix
      @include box-sizing(border-box)
      &:hover
        background: darken($background-color, 10)
        cursor: pointer
      a
        display: block
        height: $sidebar-nav-line-height
        line-height: $sidebar-nav-line-height
        color: $sidebar-color
        padding: 0 10px
        float: left
      .icon
        line-height: $sidebar-nav-line-height
        color: $sidebar-color
        font-size: 14px
        padding: 0 10px
        float: right

      &:first-child
        border-right: 3px solid $ithaka-brand
      &:nth-child(2)
        border-right: 3px solid $ithaka-primary

  .user-profile
    padding: 20px 10px
    text-align: center
    .avatar
      width: 45px
      height: 45px
      margin: 0 auto
      img
        border-radius: 22px
    .details
      padding: 10px
      .name
        font-weight: bold
      .role
        color: $sidebar-fade-color
        font-size: 90%
      .company
        color: $sidebar-fade-color
        font-size: 80%

  // When the draw opens
  &.active, &:hover
    left: 0

    .hide-when-compact
      visibility: visible
      opacity: 1
      @include sidebar-animate(all)
