//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"

@import "global"
$navbar-inverse-bg: $dark-grey
$navbar-default-bg: white
$navbar-inverse-link-color: $lightish-grey
@import "bootstrap"

.navbar-inverse
  margin-bottom: 0
  border-bottom: 1px solid $dark-grey
  .navbar-toggle
    border-color: white
  .active
    background: $dark-grey
  li.dropdown a:focus
    background-color: $darkest-grey
  .dropdown-menu
    background: $darkest-grey
    li a
      color: $light-grey
      &:hover
        background: $dark-grey
        color: $light-grey

.tab-pane
  background: $light-grey
  .contents
    padding: 20px
    max-width: $max-width
    border-top: 1px solid $light-grey
    margin: 0 auto
  .tab-contents
    margin-top: -1px
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd

.nav-tabs
  max-width: $max-width
  margin: 0 auto
  li.active a
    background: $light-grey
    &:hover
      color: $pink
      background: $light-grey
  li a
    border:none
    color: $grey
    &:hover
      border: none
      background: none
      color: $dark-grey
      span
        color: $blue
  li.active a:hover span
    color: inherit

.btn-wide
  width: 100%

.btn-pink
  background: $pink
  border: 1px solid $dark-pink
  color: $light-grey
  &:hover
    color: $light-grey
    background: $dark-pink

.btn-default
  border: 1px solid $blue
  color: $blue
  &:hover
    color: $light-grey
    background: $light-blue
    border: 1px solid $blue

.btn-light
  border: 1px solid $grey
  color: $grey
  &:hover
    color: $pink
    border: 1px solid $pink

.btn-primary
  background: $blue
  border: 1px solid $light-blue
  color: $light-grey
  &:hover
    color: $light-grey
    background: $light-blue
    border: 1px solid $light-blue

.label-default
  background: $grey
.label-primary
  background: $blue
.label-pink
  background: $pink
.label-info
  background: $light-blue
