//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"

@import "global"
$navbar-inverse-bg: $dark-grey
$navbar-default-bg: white
$navbar-inverse-link-color: $lightish-grey
$btn-default-bg: $blue
$btn-default-color: $light-grey
$btn-default-border: darken($blue, 5%)
$btn-success-bg: $green
$btn-primary-bg: $blue
$btn-danger-bg: $red
$btn-warning-bg: $yellow
$label-default-bg: $dark-grey
$label-default-color: $light-grey
$label-success-bg: $green
$label-primary-bg: $blue
$label-danger-bg: $red
$label-warning-bg: $yellow
$border-radius-base: 0px
$border-radius-large: 0px
$border-radius-small: 0px
$input-border-focus: $blue
$text-color: $dark-grey
@import "bootstrap"

.navbar-transparent
  .navbar-toggle
    border-color: none
    span.icon-bar
      background: white
  .active
    background: $dark-grey
  li a
    color: $light-grey
  li a:hover
    color: white
    background: none
    font-weight: bold

.navbar-inverse
  margin-bottom: 0
  border-bottom: 1px solid $dark-grey
  .navbar-toggle
    border-color: white
  .active
    background: $dark-grey
  .navbar-nav li a:hover
    background: $darkest-grey
    font-weight: bold
  li.dropdown a:focus
    background-color: $darkest-grey
  .dropdown-menu
    background: $darkest-grey
    li a
      color: $light-grey
      &:hover
        background: $dark-grey
        color: $light-grey

.tab-pane
  background: $light-grey
  .contents
    padding: 20px
    max-width: $max-width
    border-top: 1px solid $light-grey
    margin: 0 auto
  .tab-contents
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd

.nav-tabs
  max-width: $max-width
  margin: 0 auto
  border-bottom: none
  li.active a
    background: $light-grey
    &:hover
      color: $pink
      background: $light-grey
  li a
    border:none
    color: $grey
    &:hover
      border: none
      background: none
      color: $dark-grey
      span
        color: $blue
  li.active a:hover span
    color: inherit

.btn-wide
  width: 100%

.btn-pink
  background: $pink
  border: 1px solid $dark-pink
  color: $light-grey
  &:hover
    color: $light-grey
    background: $dark-pink

.btn-light
  border: 1px solid $grey
  color: $grey
  &:hover
    color: $pink
    border: 1px solid $pink
