$light-grey: #f9f9fa
$lightish-grey: #f0f1f6
$border-grey: #dddddd
$grey: #7d8892
$dark-grey: #323a45
$darkest-grey: #232b37
$pink: #f36
$dark-pink: #f42156
$green: #8fd400
$dark-green: #78a300
$red: #ee6666
$dark-red: #d45656
$blue: #19aacf
$dark-blue: #10829f
$light-blue: #24b5dd
$max-width: 1144px

// Mixins
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

// Global styles
main
  margin: 0
  h3
    color: $grey

body
  background: $lightish-grey

.glyphicon
  margin: 0 5px
a
  color: $dark-grey
  &:hover
    text-decoration: none
    cursor: pointer
    color: $pink

.logo
  color: $grey
  font-family: 'Roboto', sans-serif

.dark-logo
  color: $light-grey
  font-family: 'Roboto', sans-serif

.votes-panel
  background-color: $light-grey
  box-shadow: 1px 1px 2px #d3d4d8
  margin-right: 20px
  float: right
  width: 290px
  h5
    color: $grey
    margin-top: 5px
    margin-bottom: 5px
    text-align: center
  .used
    color: $pink
  .unlocked
    color: $green
  .header
    border-bottom: 1px solid $lightish-grey

.page-head
  max-width: $max-width
  margin: 35px auto
  color: $grey
  .breadcrumbs
    float: left
    h3
      margin: 0 0 15px 25px
      span
        margin: 0 15px 0 0

.default-contents
  background: white
  box-shadow: 1px 1px 2px $lightish-grey
  padding: 10px 15px 25px 15px
  margin-bottom: 10px
  .padded-form
    margin: 20px 20px

.form .control-group
  margin: 5px 0


.btn-st
  background: none
  border: none
  margin: 0 5px
  &:hover
    color: white

.btn-st-pink
  color: $pink
  &:hover
    background: $pink
    border: 1px solid $dark-pink
  
.btn-st-blue
  color: $blue
  &:hover
    background: $blue
    border: 1px solid $dark-blue

.btn-st-red
  color: $red
  &:hover
    background: $red
    border: 1px solid $dark-red

.btn-st-grey
  color: $grey
  &:hover
    background: $grey
    border: 1px solid $dark-grey

.navbar-brand
  img
    margin: -4px 3px 0 0 

.nav .dropdown .user-dropdown
  padding: 5px
  .username
    margin-top: 10px
    margin-left: 25px
  .avatar
    border-radius: 19px
    margin-left: 25px
