$light-grey: #f9f9fa;
$lightish-grey: #f0f1f6;
$grey: #7d8892;
$dark-grey: #323a45;
$darkest-grey: #232b37;
$pink: #f42156;
$green: #19b998;
$red: #ee8484;
$blue: #2484c7;
$max-width: 1144px;

main { margin: 0;}
body { background: $lightish-grey; }
main h3 { color: $grey; }
.glyphicon { margin: 0 5px; }
a:hover { cursor: pointer; }
