$light-grey: #f9f9fa
$lightish-grey: #f0f1f6
$border-grey: #dddddd
$grey: #7d8892
$dark-grey: #323a45
$darkest-grey: #232b37
$pink: #f36
$dark-pink: #f42156
$green: #8fd400
$dark-green: #78a300
$red: #ee8484
$blue: #19aacf
$light-blue: #24b5dd
$max-width: 1144px

// Mixins
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

// Global styles
main
  margin: 0
  h3
    color: $grey

body
  background: $lightish-grey
.glyphicon
  margin: 0 5px
a
  color: $dark-grey
  &:hover
    text-decoration: none
    cursor: pointer
    color: $pink

.votes-panel
  background-color: $light-grey
  border-radius: 5px
  border: 1px solid $border-grey
  margin: 20px 20px
  float: right
  width: 260px
  h5
    color: $grey
    margin-top: 5px
    margin-bottom: 5px
    text-align: center
  .used
    color: $pink
  .unlocked
    color: $green
  .header
    border-bottom: 1px solid $lightish-grey

