$light-grey: #f9f9fa
$lightish-grey: #f0f1f6
$border-grey: #dddddd
$grey: #7d8892
$dark-grey: #323a45
$darkest-grey: #232b37
$pink: #f36
$dark-pink: #f42156
$green: #0dadb7
$dark-green: #78a300
$red: #ee6666
$dark-red: #d45656
$blue: #58c3e5
$dark-blue: #10829f
$light-blue: #24b5dd
$yellow: #ffcb00
$orange: #ff7900
$shadow: #d3d4d8
$max-width: 1144px

// Mixins
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=default-box-shadow
  box-shadow: 2px 2px 8px $shadow

=colour-box-shadow($colour)
  box-shadow: 2px 2px 9px 1px $colour

// Global styles
main
  margin: 0
  min-height: 100%
  h3
    color: $grey

body
  background: $lightish-grey
  height: 100%
  .redactor_toolbar li a:hover
    background-color: $pink
  #redactor_modal footer button
    background-color: $light-grey
    &:hover
      background-color: $lightish-grey
  #redactor_modal footer button.redactor_modal_action_btn
    background-color: $blue
    &:hover
      background-color: $dark-blue

.glyphicon
  margin: 0 5px
a
  color: $dark-grey
  &:hover
    text-decoration: none
    cursor: pointer
    color: $pink

.navbar-brand .square
  margin: 8px
.square
  background: $pink
  border: 1px solid $dark-pink
  color: white
  border-radius: 4px
  margin: 0 10px
  .fa
    margin: 0 12px

.navbar-brand
  margin-top: -4px
  color: $grey
  .square .fa
    margin: 4px 6px

.navbar-transparent a,
.navbar-inverse .navbar-brand .logo-text,
.navbar-transparent .navbar-brand .logo-text
  color: $light-grey

.logo
  color: $grey
  font-family: 'Roboto', sans-serif

.dark-logo
  color: $light-grey
  font-family: 'Roboto', sans-serif

.votes-panel
  margin-right: 20px
  float: right
  width: 50%
  .row
    .unlocked
      text-align: center
      @include border-radius(20px)
      background: $blue
      border: $blue 1px solid
      color: white
      padding: 3px 10px
    .other
      @include border-radius(20px)
      border: $grey 1px solid
      color: $grey
      padding: 3px 10px
      text-align: center
      .remaining
      .left
        margin-right: 30px

.page-head
  max-width: $max-width
  margin: 25px auto 10px auto
  color: $grey
  .breadcrumbs
    float: left
    margin-top: 5px
    h3
      margin: 0 0 0 25px
      padding-bottom: 15px
      font-weight: normal
      span, a
        margin: 0 15px 0 0

.no-tabs
  margin-top: 41px

.default-contents
  @include default-box-shadow
  background: white
  padding: 10px 15px 25px 15px
  margin-bottom: 10px
  .padded-form
    margin: 20px 20px

.form .control-group
  margin: 5px 0


.btn-st
  background: none
  border: none
  margin: 0 5px
  &:hover
    color: white

.btn-st-pink
  color: $pink
  &:hover
    background: $pink
    border: 1px solid $dark-pink

.btn-st-blue
  color: $blue
  &:hover
    background: $blue
    border: 1px solid $dark-blue

.btn-st-red
  color: $red
  &:hover
    background: $red
    border: 1px solid $dark-red

.btn-st-grey
  color: $grey
  &:hover
    background: $grey
    border: 1px solid $dark-grey

.navbar-brand
  img
    margin: -4px 3px 0 0 

.nav .user-link
  padding: 0 10px
  a
    padding: 10px
    .avatar
      border-radius: 15px
      margin-right: 15px

.page-footer
  margin: 30px 0 30px 10px
  background-color: $lightish-grey
  position: relative
  bottom: 0
  .row a, #feedback
    margin: 0 30px 10px 0
  .row a, #feedback:last-child
    margin-right: 0

.switch-outer
  padding-bottom: 20px
  padding-top: 5px
  .space-left
    margin-left: 20px
  .bootstrap-switch .bootstrap-switch-container
    .bootstrap-switch-primary
      background: $blue
    .bootstrap-switch-default
      background: $grey
      color: white

.form-title
  h3, h2, h1
    font-weight: normal

.or-bar
  text-align: center
  margin-bottom: 10px
  color: $grey
  span
    display: inline-block
    position: relative
    &:after, &:before
      content: ""
      position: absolute
      margin-top: 10px
      border-top: 1px solid $grey
      top: 0
      min-width: 100px

.or-bar span:before
  right: 100%
  margin-right: 15px
.or-bar span:after
  left: 100%
  margin-left: 15px

footer.page-footer a
  padding-right: 10px
