$navbar-margin-bottom: 0
@import 'framework_and_overrides'
@import 'global'

.navbar
  margin-bottom: 0 !important

.heading
  background: $dark-grey
  margin-top: -20px
  padding: 40px 0
  color: white
  text-align: center
  .btn
    margin: 10px 10px
  .tagline
    margin: 30px auto 20px auto
    border: 1px solid white
    display: block
    max-width: 550px
    h3
      margin: 20px
      color: white
      text-align: center


.short-description
  background: white
  padding: 40px 0
  color: $grey
  h3, h4, h5, p
    color: $grey
  input
    margin: 0 10px

.steps
  padding: 40px 0
  color: $dark-grey
  font-family: 'Roboto', sans-serif
  h2
    color: $dark-grey
    font-size: 3em
    line-height: 150%
  p
    padding-right: 20px
    text-align: justify
    color: $grey
    font-size: 2em
    font-weight: normal
    line-height: 150%

.step-1, .step-3
  background: white

.step-2, .step-4
  background: $light-grey

.benefits
  background: $light-grey
  padding: 40px 0
  color: $grey
  h3, h4, h5, p
    color: $grey
    text-align: center

.container
  max-width: 1024px
  margin: 0 auto

.footer
  padding: 40px 0
  background: $dark-grey
  color: $light-grey
