//= depend_on_asset "pattern.png"

$navbar-margin-bottom: 0
@import 'framework_and_overrides'
@import 'global'
@import 'font-awesome'

.heading
  background: $dark-grey
  background: image-url("pattern.png")
  margin-top: -20px
  padding: 40px 0
  color: white
  text-align: center
  .btn
    margin: 10px 10px
  .tagline
    margin: 30px auto 20px auto
    border: 1px solid white
    display: block
    max-width: 550px
    h3
      margin: 20px
      color: white
      text-align: center


.short-description
  background: white
  padding: 30px 0 20px 0
  color: $grey
  h3, h4, h5, p
    color: $grey
  .btn
    margin-bottom: 10px

.steps
  padding: 40px 0
  color: $dark-grey
  font-family: 'Roboto', sans-serif
  h2
    color: $dark-grey
    font-size: 3em
    line-height: 130%
  p
    margin-top: 20px
    color: $grey
    font-size: 2em
    font-weight: normal
    line-height: 120%

.step-1, .step-3
  background: white
  h2, p
    text-align: left
    padding-right: 20px

.step-2, .step-4
  background: $light-grey
  h2, p
    text-align: right
    padding-left: 20px

.benefits
  background: $light-grey
  padding: 40px 0
  color: $grey
  h3, h4, h5, p
    color: $grey
    text-align: center

.container
  max-width: 1024px
  margin: 0 auto

.footer
  padding: 40px 0
  background-color: $dark-grey
  background: image-url("pattern.png")
  color: $light-grey
  .twitter
    margin: 0 auto 20px auto
    a
      color: $lightish-grey

.home-logo
  h1
    font-family: 'Roboto', sans-serif
  img
    margin-top: -10px
    margin-right: 10px

.btn-xlg
  padding: 14px 36px
  font-size: 24px
  line-height: 1.33
  border-radius: 6px

.scoreboard
  padding-bottom: 15px
