@font-face
  font-family: 'icomoon'
  src: url('icons/icomoon.eot?-nzyjo')
  src: url('icons/icomoon.eot?#iefix-nzyjo') format("embedded-opentype"), url('icons/icomoon.woff?-nzyjo') format("woff"), url('icons/icomoon.ttf?-nzyjo') format("truetype"), url('icons/icomoon.svg?-nzyjo#icomoon') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon', $font-family-sans-serif
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  
.icon-search:before
  content: "\f002"

.icon-check:before
  content: "\f00c"

.icon-close:before
  content: "\f00d"

.icon-power-off:before
  content: "\f011"

.icon-cog:before
  content: "\f013"

.icon-trash-o:before
  content: "\f014"

.icon-road:before
  content: "\f018"

.icon-lock:before
  content: "\f023"

.icon-tags:before
  content: "\f02c"

.icon-info-circle:before
  content: "\f05a"

.icon-comment:before
  content: "\f075"

.icon-bar-chart:before
  content: "\f080"

.icon-comments:before
  content: "\f086"

.icon-sign-out:before
  content: "\f08b"

.icon-sign-in:before
  content: "\f090"

.icon-trophy:before
  content: "\f091"

.icon-unlock:before
  content: "\f09c"

.icon-credit-card:before
  content: "\f09d"

.icon-group:before
  content: "\f0c0"

.icon-cloud:before
  content: "\f0c2"

.icon-flask:before
  content: "\f0c3"

.icon-bars:before
  content: "\f0c9"

.icon-envelope:before
  content: "\f0e0"

.icon-dashboard:before
  content: "\f0e4"

.icon-comments-o:before
  content: "\f0e6"

.icon-bolt:before
  content: "\f0e7"

.icon-sitemap:before
  content: "\f0e8"

.icon-lightbulb-o:before
  content: "\f0eb"

.icon-bell:before
  content: "\f0f3"

.icon-angle-left:before
  content: "\f104"

.icon-angle-right:before
  content: "\f105"

.icon-angle-up:before
  content: "\f106"

.icon-angle-down:before
  content: "\f107"

.icon-desktop:before
  content: "\f108"

.icon-laptop:before
  content: "\f109"

.icon-tablet:before
  content: "\f10a"

.icon-mobile:before
  content: "\f10b"

.icon-quote-left:before
  content: "\f10d"

.icon-quote-right:before
  content: "\f10e"

.icon-folder-open-o:before
  content: "\f115"

.icon-microphone:before
  content: "\f130"

.icon-shield:before
  content: "\f132"

.icon-unlock-alt:before
  content: "\f13e"

.icon-thumbs-up:before
  content: "\f164"

.icon-thumbs-down:before
  content: "\f165"

.icon-stack-exchange:before
  content: "\f18d"

.icon-google:before
  content: "\f1a0"

.icon-bell-slash:before
  content: "\f1f6"

.icon-area-chart:before
  content: "\f1fe"

.icon-pie-chart:before
  content: "\f200"

.icon-line-chart:before
  content: "\f201"

.icon-toggle-off:before
  content: "\f204"

.icon-toggle-on:before
  content: "\f205"
