@import 'global'

.idea-contents
  background: white
  box-shadow: 1px 1px 2px $lightish-grey
  padding: 10px 15px 25px 15px
  margin-bottom: 10px
  .idea-title
    text-align: center
    h3
      line-height: 140%
      color: $grey
  .by-line
    text-align: center
    color: $grey
    .avatar
      border-radius: 25px
      margin: 25px 0 5px 0
  .idea-body 
    margin: 10px 10px
    min-height: 150px
    table
      tr
        border-bottom: 1px solid $border-grey
        td, th
          padding: 0 10px
      margin-bottom: 10px
  .idea-footer
    text-align: right
    .label
      margin-left: 5px
    .edit_comment, h4
      display: inline
  .discussion-title
    color: $grey
  .post-comment
    margin: 10px 20px
    .btn
      margin: 10px 10px
    .champoin
    .owner

.excellent
  color: green
.good
  color: $green
.average
  color: $grey
.poor
  color: $red

.unlock, .favourite
  margin: 10px 0
  p
    margin: 10px 0
.update-status
  margin: 0 20px

.scorecard h5
  color: $grey

.idea-score
  text-align: center
  border-radius: 5px
  padding-bottom: 4px
  color: $light-grey
  box-shadow: 0px 0px 1px $dark-grey inset
  h3
    padding-top: 4px
    color: $light-grey

.idea-score-default, .idea-score-complete
  background: $grey

.idea-score-primary, .idea-score-discussing
  background: $blue

.idea-score-pink, .idea-score-in_progress
  background: $pink

.idea-score-alert, .idea-score-closed
  background: $red

.idea-score-success, .idea-score-planned
  background: $green

.idea-score-warning
  background: $yellow

.idea-score-orange, .idea-score-verified
  background: $orange
