@import "global";

.page-head {
  width: $max-width;
  margin: 35px auto;
  padding-bottom: 15px;
  color: $grey;
  h3 { float: left; margin: 0; }
  span {
    float: left;
    font-size: 25px;
    margin: 0 15px 0 0;
  }
}

.panel-project {
  height: 230px;
  .title {
    margin-left: 20px;
    a { color: $grey; }
    span { margin-right: 10px; }
    a:hover { color: $pink; text-decoration: none; }
  }
}
