<div class="dashboard">
  <div class="heading">
    <h2>Welcome to ithaka</h2>
    <div class="body">
      <p>Some text explaining how to get started and stuff<p>
    </div>
  </div>

  <div class="widgets">
    <div class="projects">
      <h2><span class='icon icon-bar-chart'> Projects</span></h2>
      <div class='body'>
      </div>
    </div>

  </div>
</div>
